# Python
__pycache__/

# Virtual Environment
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
artifacts/
results/
*.log
.env

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
